/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Top Bar */
.top-bar {
    background-color: #f3f3f3;
    font-size: 14px;
    color: #333;
}

.top-bar a {
    text-decoration: none;
    color: #333;
}

.top-bar .social-icons a {
    color: #777777;
    font-size: 16px;
}

.top-bar .social-icons a:hover {
    color: #0056b3;
}

/* Navbar */
.navbar .navbar-brand img {
    width: max-content;
    height: 100px;
    margin-left: 70px;
}

.navbar-nav .nav-link {
    text-decoration: none;
    color: #44379b;
    font-size: 15px;
    font-weight: bold;
}

.navbar-nav .nav-link.active {
    color: #0056b3;
}

.navbar-nav .nav-link:hover {
    color: #0056b3;
}

.dropdown-menu {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

.dropdown-item {
    font-size: 14px;
    color: #333;
    padding: 8px 15px;
}

.dropdown-item:hover {
    background-color: #f3f3f3;
    color: #0056b3;
}

.search-icon {
    font-size: 18px;
    color: #333;
    text-decoration: none;
}

.search-icon:hover {
    color: #0056b3;
}

.login {
    text-decoration: none;
    color: #333;
    font-size: 15px;
}

.login:hover {
    color: #0056b3;
}
