        <!-- Slider Section -->
        <div class="slider-container">
            <div class="slider">
                <div class="slide active">
                    <img src="/images/p1.jpg" alt="Background Image">
                    <div class="text-overlay">
                        <h1>PAKISTAN BRITAIN BUSINESS COUNCIL</h1>
                    </div>
                </div>
                <div class="slide">
                    <img src="/images/p2.jpeg" alt="Background Image">
                    <div class="text-overlay">
                        <h1>WELCOME</h1>
                    </div>
                </div>
                <div class="slide">
                    <img src="/images/p3.jpg" alt="Background Image">
                    <div class="text-overlay">
                        <h1>BUILDING STRONGER BRIDGES</h1>
                    </div>
                </div>
                <div class="slide">
                    <img src="/images/p4.jpg" alt="Background Image">
                    <div class="text-overlay">
                        <h1>JOIN US</h1>
                    </div>
                </div>
                <div class="slide">
                    <img src="/images/p5.jpg" alt="Background Image">
                    <div class="text-overlay">
                        <h1>PAKISTAN BRITAIN BUSINESS COUNCIL</h1>
                    </div>
                </div>
            </div>
            <!-- Navigation Arrows -->
            <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
            <a class="next" onclick="changeSlide(1)">&#10095;</a>
        </div>
    
        <script src="/js/slider.js"></script>
    

</body>
</html>
